// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/*nostri color */
$rosso:#f2545b ;
$viola:#a93f55;
$gunmetal: #19323c;
$opal: #9cbcbe;
$cream: #f3f7f0;